##################################
# Python
##################################
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

##################################
# Virtual Environment
##################################
venv/
env/
.venv/
.env

##################################
# Environment Variables
##################################
.env
.env.*
*.env

##################################
# Django
##################################
*.log
db.sqlite3
media/
staticfiles/
static/

##################################
# FastAPI
##################################
*.log
uvicorn.log

##################################
# Pytest / Coverage
##################################
.coverage
htmlcov/
.pytest_cache/

##################################
# VS Code / IDE
##################################
.vscode/
.idea/
*.swp
*.swo

##################################
# OS Files
##################################
.DS_Store
Thumbs.db

##################################
# Docker
##################################
*.pid
*.sock
docker-compose.override.yml

##################################
# Prometheus Data
##################################
monitoring-server/prometheus_data/
prometheus_data/

##################################
# Grafana Data
##################################
monitoring-server/grafana_data/
grafana_data/

##################################
# Node Exporter temp
##################################
*.tmp

##################################
# Logs
##################################
logs/
*.log

##################################
# Build Files
##################################
dist/
build/
*.egg-info/

##################################
# Secrets (IMPORTANT)
##################################
secrets/
*.pem
*.key
*.crt

##################################
# Python Cache
##################################
*.pyc